<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcom.sentrydemosample">
    <!-- http://0aac14b24867480384697704cf998056@54.169.124.124:9000/2 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SentryDemoSample">
        <activity android:name=".MainActivity2"></activity>

        <meta-data
            android:name="io.sentry.dsn"
            android:value="http://0aac14b24867480384697704cf998056@sentry.tcom.vn:9000/2" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>